# <span style="color:darkblue"> Lecture 9. Random Assignment </span>

Housekeeping
- This week, we have Assignment 5 due on Friday (2/21) 11:59PM.
- Next Tuesday, we have the second quiz.
- After today, you will be able to sign up for a Project Group, from Canvas' People tab. Each group should have 3-4 people. If you are not assigned to a group by the end of Spring break, you will be assigned to open spots randomly.
<br>
<br>

Last Thursday:<br>
<ul>
<li> We were applying different commands we learned to a real dataset for cleaning and recoding.

In [1]:
# Go to: Recoding categorical values into numbers

<font size = "3">
Today:

- Our weekly themes are starting to look more like a real data manipulation project than a curated lecture!
- Concepts already "introduced" but require practice, so in this notebook:
<ol><font size = "3">
    <li> Pseudo-code writing </li>
    <li> Technology for manipulating strings: be proficient in str.split </li>
    <li> Random sampling </li>
    <li> Loop </li>
    <li> Dictionary object (very important) </li>
    <li> Pandas Series object </li>
</ol>

<font size = "3">

- "Not yet introduced" concepts in this notebook: <br>
<ol><font size = "4">
    <li> Thought flow for manipulating strings: what is the key? </li>
    <li> Solving equations with sympy (not that important in and of itself, but a useful practice of using a new library/command) </li>

**Dictionary** object

<img src = "figures/credits-programiz.png">
<font size = "1">
Credits: https://www.programiz.com/python-programming/dictionary

## <span style="color:darkblue"> I. Import raw data and define mini-tasks

<font size = "3"> Today's quest: Jiwon is trying to assign students to groups for a project. She has a list of names and the year that each student is in. Help her!

In [2]:
import pandas as pd
import numpy as np
import random

<font size = "3"> So, this is the dataset: (FYI: your name, year, and pronoun is public information on Canvas.)<br>
<br>
<font size = "3"> Q: How to explore what the data looks like?

In [6]:
df = pd.read_csv('data/opus_s25_qtm151.csv')
df.head(10)

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman
5,NaN,2550484,"Belykh,Max",Graded,2,Liberal Arts & Sciences - Economics BA,Junior
6,NaN,2492303,"Bhatia,Kush (he/him/his)",Graded,2,Bachelor of Business Admin - Business Administ...,Senior
7,NaN,2486624,"Braverman,Charlie Cody (he/him/his)",Graded,2,Liberal Arts & Sciences - Economics BA/Quantit...,Senior
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman
9,NaN,2675122,"Cao,Edward",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman

<font size = "3">

**Mini-task 1:** When there is a name, it's almost always useful to have the first and the last name saved in separate columns. Create columns 'first_name' and 'last_name'. We don't need the pronoun information.

In [8]:
# What is your pseudo code? For example:
# 1. Locate each row of the Name column
# 2. Separate first names and last names by comma
# 3. Get rid of the pronoun info, detecting it by the paraentheses that surround it.



<br>
<br>

**Mini-task 2:** Say we don't want the average years across project groups to be too different. How should the 'Level' column be recoded?

In [9]:
# What is your pseudo code?

<p align = "center">
<img src = "figures/thinker.jfif">

## <span style = 'color: darkblue'> II. Mini task I: Create new name columns from the existing column

### (a) Split the 'Name' column into 'first_name' and 'last_name' columns

<br><br>

<font size = "3"> As you guys said, we have an important key: the comma that separates first and last names;

```\n\n``` that separates the name and the pronoun; pronouns are wrapped with paraentheses.

#### 1. First, **test** your solution with one or two observations (a very simple proof of concept)

In [10]:
print(df['Name'][0].split(',')[0])
print(df['Name'][0].split(',')[1])
print(df['Name'][1].split(',')[0])
print(df['Name'][1].split(',')[1])

Adeola
Isabella Olutoyin (she/her/hers)
Alshekhlee
Zina (she/her/hers)

#### 2. After the proof of concept works, **implement** the solution for the entire dataset

Common error: You are trying to apply the method to a series, not a string. <br>

In [40]:
df2 = df.copy()

These are the types of exercises that increases your python skills. Why would below code not work?

In [41]:
df2['first_name'] = df.loc[:,'Name'].split(',')[0]
df2['last_name'] = df.loc[:,'Name'].split(',')[1]
# This gives an error

AttributeError: 'Series' object has no attribute 'split'

Solution: You need to apply the method to each observation in the series. <br>

In [ ]:
# call each element (string) of the pandas series to apply .split method

df2['first_name'] = [x.split(',')[0] for x in df.loc[:,'Name']]
df2['last_name'] = [x.split(',')[1] for x in df.loc[:,'Name']]

df2.head()

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin (she/her/hers)
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina (she/her/hers)
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur (he/him/his)
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace (he/him/his)

In [42]:
# This is the same code:
for i in range(len(df2)):
    df2.loc[i, 'first_name'] = df2['Name'][i].split(',')[0]
    df2.loc[i, 'last_name'] = df2['Name'][i].split(',')[1]

df2.head()

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin (she/her/hers)
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina (she/her/hers)
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur (he/him/his)
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace (he/him/his)

These types of exercises increase your python skills. Explain why below code works.

In [ ]:
# Another solution using pandas apply and lambda.
# See why this works the same way as for loop:
# But first, try to explain.
# [Link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) 

df2['first_name'] = df['Name'].apply(lambda x: x.split(',')[0])
df2['last_name'] = df['Name'].apply(lambda x: x.split(',')[1])
df2.head()

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin (she/her/hers)
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina (she/her/hers)
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur (he/him/his)
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace (he/him/his)

Q: What other code would work? Try a proof of concept and implement it over the whole dataset. <br><br>
<p align = "center">
<img src = "figures/thinker.jfif">

#### 3. Other wrong answers that are worth breaking down: <br>

In [ ]:
# This doesn't solve the problem we mentioned, so it's not a good solution.
df2['first_name'] = df.loc[:,'Name'].split(',')[0]
df2['last_name'] = df.loc[:,'Name'].split(',')[1]

AttributeError: 'Series' object has no attribute 'split'

In [25]:
df2['first_name'] = str(df['Name']).split(',')[0]
df2['last_name'] = str(df['Name']).split(',')[1]

# Although it runs...

In [26]:
df2.head(10)
# It's not giving us what we want

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
5,NaN,2550484,"Belykh,Max",Graded,2,Liberal Arts & Sciences - Economics BA,Junior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
6,NaN,2492303,"Bhatia,Kush (he/him/his)",Graded,2,Bachelor of Business Admin - Business Administ...,Senior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
7,NaN,2486624,"Braverman,Charlie Cody (he/him/his)",Graded,2,Liberal Arts & Sciences - Economics BA/Quantit...,Senior,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...
9,NaN,2675122,"Cao,Edward",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,0 Adeola,Isabella Olutoyin (she/her/hers)\n1 ...

It's so important to always check if the code worked as **intended**.<br>
<br>

Most error comes from not knowing what type of **input** and **output** should be given to the command.<br>
Most panic comes from not knowing how to **break apart** a code into smaller chunks.<br>
<br><br>
Solution is a) to know many syntaxes b) even if you don't know the syntax, you have a muscle memory of breaking codes into parts (you have looked up documentation and thought about why one code works or not), so you have an idea of how Python works in general.

#### 4. The "lazy" iterators

These iterators are called lazy because it creates index-value pairs one at a time, only when requested.<br><br>

Comparison:
```python
df2['first_name'] = [x.split(',')[0] for x in df.loc[:,'Name']]
```

In [45]:
df2 = df.copy()

# Not all pairs are generated upfront and stored in memory.

for index, value in df['Name'].items():
    df2.loc[index,'first_name'] = value.split(',')[0]
    df2.loc[index,'last_name'] = value.split(',')[1]

print(df2.head())

   Notify       ID                                     Name Grade Basis  \
0     NaN  2554542  Adeola,Isabella Olutoyin (she/her/hers)      Graded
1     NaN  2554565           Alshekhlee,Zina (she/her/hers)      Graded
2     NaN  2630943                            Arora,Advitya      Graded
3     NaN  2540470               Bayyigit,Onur (he/him/his)      Graded
4     NaN  2671403            Bell Jr.,Wallace (he/him/his)      Graded

   Units                                   Program and Plan      Level  \
0      2  Liberal Arts & Sciences - Quantitative Science...     Junior
1      2  Liberal Arts & Sciences - Psychology BA/Quanti...     Senior
2      2  Liberal Arts & Sciences - Undeclared - Arts & ...  Sophomore
3      2  Liberal Arts & Sciences - Quantitative Science...     Junior
4      2  Liberal Arts & Sciences - Undeclared - Arts & ...   Freshman

   first_name                         last_name
0      Adeola  Isabella Olutoyin (she/her/hers)
1  Alshekhlee               Zina (she/her/hers)
2       Arora                           Advitya
3    Bayyigit                 Onur (he/him/his)
4    Bell Jr.              Wallace (he/him/his)

<br><br><br>
Q: What you do think is the benefit of using the lazy iterator? <br><br><br>

#### 5. Now, delete the pronoun information from ```last_name```.

In [47]:
df2['last_name'] = df2['last_name'].apply(lambda x: x.split('(')[0])
df2.head(10)

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace
5,NaN,2550484,"Belykh,Max",Graded,2,Liberal Arts & Sciences - Economics BA,Junior,Belykh,Max
6,NaN,2492303,"Bhatia,Kush (he/him/his)",Graded,2,Bachelor of Business Admin - Business Administ...,Senior,Bhatia,Kush
7,NaN,2486624,"Braverman,Charlie Cody (he/him/his)",Graded,2,Liberal Arts & Sciences - Economics BA/Quantit...,Senior,Braverman,Charlie Cody
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Brodsky,Sammy
9,NaN,2675122,"Cao,Edward",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Cao,Edward

### (b) Recode 'Level' column to numeric (number of years in college)

First, check what the unique values are. When there is an unexpected value (NA) or a typo, your recoding rule may not work as expected.

In [49]:
df['Level'].unique()

array(['Junior', 'Senior', 'Sophomore', 'Freshman'], dtype=object)

When it's confirmed, implement.

In [50]:
df3 = df2.copy()

In [51]:
def convt(x):
    if x == 'Freshman':
        return 1
    elif x == 'Sophomore':
        return 2
    elif x == 'Junior':
        return 3
    elif x == 'Senior':
        return 4
    else: # closed for all other cases; good practice!
        return 0

df3['Level_new'] = df2['Level'].apply(lambda x: convt(x))
df3.head(10)

# How would we write the same code with for loop? Try it yourself!

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name,Level_new
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin,3
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina,4
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya,2
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur,3
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace,1
5,NaN,2550484,"Belykh,Max",Graded,2,Liberal Arts & Sciences - Economics BA,Junior,Belykh,Max,3
6,NaN,2492303,"Bhatia,Kush (he/him/his)",Graded,2,Bachelor of Business Admin - Business Administ...,Senior,Bhatia,Kush,4
7,NaN,2486624,"Braverman,Charlie Cody (he/him/his)",Graded,2,Liberal Arts & Sciences - Economics BA/Quantit...,Senior,Braverman,Charlie Cody,4
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Brodsky,Sammy,1
9,NaN,2675122,"Cao,Edward",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Cao,Edward,1

## <span style = 'color: darkblue'> III. Random assignment to project groups

Let's first assign students completely randomly. We want 3 or 4 people in one group.

In [52]:
len(df3)

81

In [70]:
import sympy as sp
# Download a new package into your environment, using Anacona Navigator

x,y = sp.symbols('x y')
equation = sp.Eq(3*x + 4*y, len(df3))
# x is the num of groups with three people,
# y is the num of groups with four people
print(sp.solve(equation , (x,y)))

[(27 - 4*y/3, y)]

In [57]:
len(df)/4

20.25

Let's use a dictionary object to save pairs of x, y:

In [80]:
y = range(1, 20, 1)
x = [(27 - 4*i/3) for i in y]

dict_groups = {y[i]: x[i] for i in range(len(x))}
dict_groups

{1: 25.666666666666668,
 2: 24.333333333333332,
 3: 23.0,
 4: 21.666666666666668,
 5: 20.333333333333332,
 6: 19.0,
 7: 17.666666666666664,
 8: 16.333333333333336,
 9: 15.0,
 10: 13.666666666666666,
 11: 12.333333333333334,
 12: 11.0,
 13: 9.666666666666668,
 14: 8.333333333333332,
 15: 7.0,
 16: 5.666666666666668,
 17: 4.333333333333332,
 18: 3.0,
 19: 1.6666666666666679}

Complete code:

In [86]:
y = range(1, 20, 1)
x = [(27 - 4*i/3) for i in y]

dict_groups = {y[i]: x[i] for i in range(len(x)) if x[i] > 0 and x[i].is_integer()}
dict_groups

{3: 23.0, 6: 19.0, 9: 15.0, 12: 11.0, 15: 7.0, 18: 3.0}

Again:
<img src = "figures/credits-programiz.png">

In [90]:
print(dict_groups.items()) # we call each element an item
print(dict_groups.keys()) # this is 'y's
print(dict_groups.values()) # this is 'x's

dict_items([(3, 23.0), (6, 19.0), (9, 15.0), (12, 11.0), (15, 7.0), (18, 3.0)])
dict_keys([3, 6, 9, 12, 15, 18])
dict_values([23.0, 19.0, 15.0, 11.0, 7.0, 3.0])

If we did not use dictionary type object:

In [91]:
y = range(1, 20, 1)
x = [(27 - 4*i/3) for i in y]
x2 = [i for i in x if i.is_integer()==1 and i > 0]

print(y)
print(x)
print(x2)

# It's hard to get the corresponding y value of the positive integer x values (in x2)

range(1, 20)
[25.666666666666668, 24.333333333333332, 23.0, 21.666666666666668, 20.333333333333332, 19.0, 17.666666666666664, 16.333333333333336, 15.0, 13.666666666666666, 12.333333333333334, 11.0, 9.666666666666668, 8.333333333333332, 7.0, 5.666666666666668, 4.333333333333332, 3.0, 1.6666666666666679]
[23.0, 19.0, 15.0, 11.0, 7.0, 3.0]

In [94]:
dict_groups[9]

15.0

Let's say we will have 9 groups of size 4, and 15 groups of size 3. Our plan:

- Random draw groups of size 4, 9 times.
- Random draw groups of size 3, 15 times.
- People are assigned only one group. So after they are assigned, they should be eliminated.

In [95]:
np.random.seed(1231) # Always, remember to set seed when there is a random element in your code.

Test out the building blocks of your final, elegant code:

In [96]:
df3.sample(4)

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name,Level_new
37,NaN,2608770,"Lee,Vincent",Graded,2,Bachelor of Business Admin - Business Administ...,Sophomore,Lee,Vincent,2
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Brodsky,Sammy,1
68,NaN,2549427,"Wu,Andy (he/him/his)",Graded,2,Liberal Arts & Sciences - Computer Science BS,Senior,Wu,Andy,4
62,NaN,2668985,"Umebayashi,Shawn (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Umebayashi,Shawn,1

In [113]:
df4 = df3.copy()
df4['group'] = np.nan

In [114]:
df_temp = df4.copy()

In [115]:
i = 1

while i <= 9:
    df4.loc[df_temp.sample(4).index, 'group'] = i
    df_temp = df_temp.drop(df4[df4['group'] == int(i)].index)
    i += 1

print(i)

10

Always check if it ran well ("as intended"), by running a simple test. For example:

In [116]:
len(df_temp)/3

15.0

Q: What does the below dataframe refer to?

In [117]:
print(len(df_temp))
df_temp.head()

45

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name,Level_new,group
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin,3,NaN
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina,4,NaN
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur,3,NaN
5,NaN,2550484,"Belykh,Max",Graded,2,Liberal Arts & Sciences - Economics BA,Junior,Belykh,Max,3,NaN
8,NaN,2696966,"Brodsky,Sammy (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Brodsky,Sammy,1,NaN

Q: Why is there a group number assigned for some people, but not others?

In [118]:
df4

,Notify,ID,Name,Grade Basis,Units,Program and Plan,Level,first_name,last_name,Level_new,group
0,NaN,2554542,"Adeola,Isabella Olutoyin (she/her/hers)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Adeola,Isabella Olutoyin,3,NaN
1,NaN,2554565,"Alshekhlee,Zina (she/her/hers)",Graded,2,Liberal Arts & Sciences - Psychology BA/Quanti...,Senior,Alshekhlee,Zina,4,NaN
2,NaN,2630943,"Arora,Advitya",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Sophomore,Arora,Advitya,2,3.0
3,NaN,2540470,"Bayyigit,Onur (he/him/his)",Graded,2,Liberal Arts & Sciences - Quantitative Science...,Junior,Bayyigit,Onur,3,NaN
4,NaN,2671403,"Bell Jr.,Wallace (he/him/his)",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Freshman,Bell Jr.,Wallace,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,2487723,"Yin,Antony",Graded,2,Liberal Arts & Sciences - Applied Mathematics ...,Senior,Yin,Antony,4,NaN
77,NaN,2609653,"Zhan,Huanzhe",Graded,2,Liberal Arts & Sciences - Undeclared - Arts & ...,Junior,Zhan,Huanzhe,3,4.0
78,NaN,2610443,"Zhang,Coco",Graded,2,Liberal Arts & Sciences - Psychology BS/Sociol...,Junior,Zhang,Coco,3,NaN
79,NaN,2644641,"Zhang,Crystal (she/her/hers)",Graded,2,Liberal Arts & Sciences - Neuroscience & Behav...,Junior,Zhang,Crystal,3,8.0
80,NaN,2645618,"Zhou,Yunshi",Graded,2,Associate of Arts - Arts & Sciences,Sophomore,Zhou,Yunshi,2,NaN

In [119]:
j = 10

while j <= 24:
    df4.loc[df_temp.sample(3).index, 'group'] = j
    df_temp = df_temp.drop(df4[df4['group'] == j].index)
    j += 1

print(j)

25

In [120]:
df4['group'].isna().sum()

0

In [122]:
sorted(df4['group'].unique())

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0]

In [ ]:
df4['group'].value_counts().sort_index()

group
1.0     4
2.0     4
3.0     4
4.0     4
5.0     4
6.0     4
7.0     4
8.0     4
9.0     4
10.0    3
11.0    3
12.0    3
13.0    3
14.0    3
15.0    3
16.0    3
17.0    3
18.0    3
19.0    3
20.0    3
21.0    3
22.0    3
23.0    3
24.0    3
Name: count, dtype: int64

<font size = "5"> Do it yourself!
</font>

<font size = "3"> Navigate through this notebook using Outline tab in VS code, and try the Q: exercises. <br>

Try to rewrite the ```apply``` codes using other commands such as user defined function, for loop, etc. and vice versa. Suggest a good exercise on Canvas discussion for the class!